*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 1700px;
    height: 40px;
    background-color: black;
    color: white;
}
.body{
    display: flex;
    margin: 0 auto;
    height: 40px;
    justify-content: space-around;
    width: 500px;
    margin:0;
    list-style: none;
    padding-top: 8px;

}
li{
    width: 70px;
    height: 30px;
    border-radius: 2px;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
}
.body li:hover{
    background: #d2cece;
    color: black;
}
