*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 500px;
    height: 500px;
    background-color:#f5f2f2;
    margin: 10px auto;
    border: 1px rgb(223, 209, 209) solid;

}
.container h2{
    margin-top: 10px;
    margin-left: 24px;
}
.twobody{
    border: 1px rgb(223, 209, 209) solid;
    width:450px;
    height: 400px;
    margin: 10px auto;
}
.twobody h2{
    width: 420px;
    height: 380px;
    background-color: aqua;
    margin: 8px auto;
    background-color: #d7d3d3;
    padding-top: 170px;
    padding-left: 160px;
    opacity: 0.5;
}
p{
    margin-top: 30px;
}